.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 120px;
}

.menu {
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    /* position:fixed;
    width:100%;*/
}


    .menu a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        display: inline-block;
        align-items: center;
        position: relative;
        flex: 1;
        font-family: 'Courier New', Courier, monospace;
        font-size: larger;
        font-weight: bolder;
    }

.menu-item {
    padding-top: 15px;
}


#logo {
    padding-top: 5px;
}

a:hover {
    background-color: #474646;
}

.banner img {
    width: 100%;
    margin-bottom: 20px;
}

#loguser {
    text-transform: uppercase;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;
    margin-top: 17px;
}


.col {
    display: flex;
    align-items: center;
    box-shadow: none;
    justify-content: center;
    color: #58595b;
    background-color: transparent;
    line-height: 55px;
}

    .col a {
        background-color: white;
        text-decoration: none;
        font-size: 18px;
    }

.breadcrumb {
    color: black;
}

.breadcrumb_active {
    color: #58595b;
    font-size: 18px;
}

.ptitle {
    text-align: center;
    text-transform: uppercase;
    color: #00FFFF;
}

.content_center {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 30px;
}

.right_content {
    display: flex;
    width: 55%;
    flex-direction: column;
}


.content_CT p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-family: Verdana, helneulig;
}

.content_CT ul li {
    list-style: disc;
    margin-left: 50px;
    font-size: 18px;
    line-height: 30px;
    font-family: Verdana, helneulig;
}

.footer {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-left: 300px;
    padding-right: 300px;
    gap: 50px;
    background-color: black;
}

ul {
    list-style: none;
}

    ul li a {
        color: white;
        text-decoration: none;
    }

.column-2 p {
    color: white;
}

@media only screen and (max-width:768px) {

    .menu {
        flex-direction: column;
        align-items: center;
    }

        .menu a {
            width: 100%;
        }

    .banner img {
        width: 100%;
    }

    .content_center {
        display: flex;
        flex-direction: column-reverse;
    }

    .right_content {
        width: 100%;
    }

    .content_CT {
        padding: 0px 20px;
    }

    .footer {
        grid-template-columns: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    /*.footer a {
            margin-left: 150px;
        }*/

    .footer-item {
        /*margin-left: 160px;*/
    }

    .footer p {
        text-align: center;
    }

    ul {
        text-align: center;
        align-content: center;
    }

    .banner img {
        max-width: auto;
        height: auto;
    }
}
